{% extends 'base.html' %}

  {% block content %}
  <div class="hero hero-single route bg-image" style="background-image: url(assets/img/overlay-bg.jpg)">
    <div class="overlay-mf"></div>
    <div class="hero-content display-table">
      <div class="table-cell">
        <div class="container">
          <h2 class="hero-title mb-4">Portfolio Details</h2>
          <ol class="breadcrumb d-flex justify-content-center">
            <li class="breadcrumb-item">
              <a href="/portfolio">Home</a>
            </li>
            <li class="breadcrumb-item active">Portfolio Details</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <main id="main">

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">
          {%if projects%}
          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="{{projects.image1.url}}" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="{{projects.image2.url}}" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="{{projects.image3.url}}" alt="">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Project information</h3>
              <ul>
                <li><strong>Category</strong>: {{projects.category}}</li>
                <li><strong>Client</strong>: {{projects.client}}</li>
                <li><strong>Project date</strong>: {{projects.project_date}}</li>
                <li><strong>Project URL</strong>: <a href="{{projects.project_url}}">{{projects.project_url}}</a></li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>This is an example of portfolio detail</h2>
              <p>
                {{projects.details}}
              </p>
            </div>
          </div>

        </div>

      </div>
      {%endif%}
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  {% endblock %}